version: '3.4'

services:
  client:
    image: ${CONTAINER_REGISTRY_BASE}/client
    container_name: tavern-of-cho-client
    build:
      context: ./client
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/client
    env_file:
      - ./client/.env
    volumes:
      - ./client:/usr/src/client:rw,cached
      - /usr/src/client/node_modules

  admin:
    image: ${CONTAINER_REGISTRY_BASE}/admin
    container_name: tavern-of-cho-admin
    build:
      context: ./admin
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/admin
    env_file:
      - ./admin/.env
    volumes:
      - ./admin:/usr/src/admin:rw,cached
      - /usr/src/admin/node_modules

  php:
    image: ${CONTAINER_REGISTRY_BASE}/php
    container_name: tavern-of-cho-php
    build:
      context: ./api
      target: api_platform_php
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/php
        - ${CONTAINER_REGISTRY_BASE}/nginx
        - ${CONTAINER_REGISTRY_BASE}/varnish
    depends_on:
      - db
    env_file:
      - ./api/.env
    volumes:
      - ./api:/srv/api:rw,cached
      - ./logs/api:/api/var/log

  api:
    image: ${CONTAINER_REGISTRY_BASE}/nginx
    container_name: tavern-of-cho-api
    build:
      context: ./api
      target: api_platform_nginx
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/php
        - ${CONTAINER_REGISTRY_BASE}/nginx
        - ${CONTAINER_REGISTRY_BASE}/varnish
    depends_on:
      - php
    volumes:
      - ./api/public:/srv/api/public:ro
      - ./logs/api_nginx:/var/log/nginx

  cache-proxy:
    image: ${CONTAINER_REGISTRY_BASE}/varnish
    container_name: tavern-of-cho-cache-proxy
    build:
      context: ./api
      target: api_platform_varnish
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/php
        - ${CONTAINER_REGISTRY_BASE}/nginx
        - ${CONTAINER_REGISTRY_BASE}/varnish
    depends_on:
      - api
    volumes:
      - ./api/docker/varnish/conf:/usr/local/etc/varnish:ro
    tmpfs:
      - /usr/local/var/varnish:exec

  db:
    image: postgres:9.6-alpine
    container_name: tavern-of-cho-db
    environment:
      - POSTGRES_DB=api
      - POSTGRES_USER=api-platform
      - POSTGRES_PASSWORD=!ChangeMe!
    volumes:
      - ./docker/db/data:/var/lib/postgresql/data:rw
    ports:
      - "5432:5432"

  elk:
    image: willdurand/elk
    container_name: tavern-of-cho-elk
    volumes:
      - ./elk/logstash:/etc/logstash
      - ./elk/logstash/patterns:/opt/logstash/patterns
      - ./logs/api:/api/var/log
      - ./logs/api_nginx:/var/log/nginx

  website:
    build: './website'
    container_name: tavern-of-cho-website
    volumes:
    - './website:/app'
    working_dir: '/app'
    command: 'yarn start'
    ports: 
      - "9005:9005"  #Firebase

  h2-proxy:
    container_name: tavern-of-cho-h2_proxy
    build:
      context: ./h2-proxy
    depends_on:
      - client
      - admin
      - api
      - cache-proxy
      - website
      - elk
    ports:
      - "8050:443"  #Client
      - "8051:444"  # Admin
      - "8052:8052" # Api
      - "8053:8053" # Api-Cached
      - "8054:445"  # Website
      - "8055:8055" # ELK 
