version: '3.4'

services:
  client:
    image: ${CONTAINER_REGISTRY_BASE}/client
    container_name: wow-collection-client
    build:
      context: ./client
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/client
    env_file:
      - ./client/.env
    volumes:
      - ./client:/usr/src/client:rw,cached
      - /usr/src/client/node_modules
    ports:
      - "8050:3000"

  admin:
    image: ${CONTAINER_REGISTRY_BASE}/admin
    container_name: wow-collection-admin
    build:
      context: ./admin
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/admin
    env_file:
      - ./admin/.env
    volumes:
      - ./admin:/usr/src/admin:rw,cached
      - /usr/src/admin/node_modules
    ports:
      - "8051:3000"

  php:
    image: ${CONTAINER_REGISTRY_BASE}/php
    container_name: wow-collection-php
    build:
      context: ./api
      target: api_platform_php
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/php
        - ${CONTAINER_REGISTRY_BASE}/nginx
        - ${CONTAINER_REGISTRY_BASE}/varnish
    depends_on:
      - db
    env_file:
      - ./api/.env
    volumes:
      - ./api:/srv/api:rw,cached
      - ./logs/api:/api/var/log

  api:
    image: ${CONTAINER_REGISTRY_BASE}/nginx
    container_name: wow-collection-api
    build:
      context: ./api
      target: api_platform_nginx
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/php
        - ${CONTAINER_REGISTRY_BASE}/nginx
        - ${CONTAINER_REGISTRY_BASE}/varnish
    depends_on:
      - php
    volumes:
      - ./api/public:/srv/api/public:ro
      - ./logs/api_nginx:/var/log/nginx
    ports:
      - '8052:80'

  cache-proxy:
    image: ${CONTAINER_REGISTRY_BASE}/varnish
    container_name: wow-collection-cache-proxy
    build:
      context: ./api
      target: api_platform_varnish
      cache_from:
        - ${CONTAINER_REGISTRY_BASE}/php
        - ${CONTAINER_REGISTRY_BASE}/nginx
        - ${CONTAINER_REGISTRY_BASE}/varnish
    depends_on:
      - api
    volumes:
      - ./api/docker/varnish/conf:/usr/local/etc/varnish:ro
    tmpfs:
      - /usr/local/var/varnish:exec
    ports:
      - "8053:80"

  db:
    image: postgres:9.6-alpine
    container_name: wow-collection-db
    environment:
      - POSTGRES_DB=api
      - POSTGRES_USER=api-platform
      - POSTGRES_PASSWORD=!ChangeMe!
    volumes:
      - ./docker/db/data:/var/lib/postgresql/data:rw
    ports:
      - "5432:5432"

  elk:
    image: willdurand/elk
    container_name: wow-collection-elk
    volumes:
      - ./elk/logstash:/etc/logstash
      - ./elk/logstash/patterns:/opt/logstash/patterns
      - ./logs/api:/api/var/log
      - ./logs/api_nginx:/var/log/nginx
    ports:
      - "8055:80"
      
  website_server:
    build: './website/server'
    container_name: wow-collection-nodejs-server
    volumes:
      - './website/server:/home/node/app'
    working_dir: '/home/node/app'
    command: 'npm start'
    ports:
    - "8056:3000"
